<?
$page_title = ($this->car_num == 0) ? 'Rides Not Assigned to a Car' : 'Rides for Car #'.$this->car_num;
$this->headTitle($page_title)->headTitle('Phone Room');
$this->layout()->tabs = $this->renderHere('tabs', TRUE);

$save_button = $this->button(array(
	'type'		=> 'submit',
	'class'		=> 'positive',
	'icon'		=> 'disk',
	'text'		=> 'Save Changes',
));
$yesno_checks = array(
	'checked'		=> 1,
	'unChecked'		=> 0,
);
?>

<form action="<?=\DF\Url::current() ?>" method="post">
<div class="buttons"><?=$save_button ?></div>

<? $this->zebra('reset'); ?>
<table class="datatable" width="100%">
	<tr>
		<th>&nbsp;</th>
        <th>&nbsp;</th>
		<th>Status</th>
		<th>Name</th>
		<th>Riders</th>
		<th>Pickup</th>
		<th>Dropoff</th>
		<th>Cell</th>
		<th style="width:60px;">Waited</th>
		<th style="width:60px;">Rode</th>
		<th>Home At</th>
	</tr>
    <? foreach($this->rides as $row): ?>
	<tr class="<?=$this->zebra() ?>" id="row<?=$row['num'] ?>">
        <td align="center"><?=$this->formCheckbox('rides['.$row['num'].']', $row['is_confirmed'], NULL, $yesno_checks) ?></td>
        <td align="left">
			<?=$this->button(array(
                'type'		=> 'small',
                'href'		=> $this->route(array('module' => 'phoneroom', 'controller' => 'edit', 'action' => 'index', 'num' => $row['num'])),
                'icon'		=> 'pencil',
				'target'	=> '_blank',
                'text'		=> 'Edit',
            )) ?>
		</td>
        <td><?=$row['status'] ?></td>
        <td><?=$row['name'] ?></td>
        <td><?=$row['riders'] ?></td>
        <td><?=$row['pickup'] ?></td>
        <td><?=$row['dropoff'] ?></td>
        <td><?=$row['cell_display'] ?></td>
        <td><span class="<?=$row['wait_time_class'] ?>"><?=$row['wait_time'] ?></span></td>
        <td><span class="<?=$row['rode_time_class'] ?>"><?=$row['rode_time'] ?></span></td>
        <td><?=$row['home_time'] ?></td>
    </tr>
    <? endforeach; ?>
</table>
<div class="buttons"><?=$save_button ?></div>
</form>