<?
$this->headTitle('Phone Room');
$this->layout()->tabs = $this->renderHere('tabs', TRUE);
?>

<div class="row">
	<div class="span5">
		<?=$this->renderHere('ride_form', TRUE); ?>
	</div>
	<div class="span5">
	    <h2>Instructions</h2>
	    
	    <p>When doing incoming line, here are a few guidelines to follow:</p>
	    <ul>
	        <li>Answer the phone <b>"Howdy, CARPOOL"</b> and begin asking the questions once the patron has asked for a ride.</li>
	        <li>If it gets too loud to hear in the phone room, <b>tell the execs to BE QUIET!</b></li>
	        <li>If someone calls asking to be taken home to <b>Traditions (apts by NG), then ask them what building they live in</b>, who their RA is and explain that we don't take people to bars if you suspect they just want a ride to NG.</li>
	        <li>If someone calls from NG and the <b>Herschels haven't left yet (10pm-11:30pm)</b>, please take their information.</li>
	        <li>If someone calls <b>from NG when the Herschels are there</b>, then instruct them to go see the <b>people in Lime Green Shirts.</b></li>
	        <li>If you have ANY questions, please ask an exec or the DIC.</li>
	        <li>HAVE FUN!</li>
	    </ul>
	        
	    <div class="buttons well">
	    	<?=$this->button(array(
				'type'		=> 'small',
				'class'		=> 'fancybox',
				'href'		=> '#northgate-ras"',
				'icon'		=> 'user',
				'text'		=> 'List of Northgate Area RAs',
				'id'		=> 'btn-northgate-ras',
			)) ?>
	    </div>
	</div>
</div>

<div id="northgate-ras" style="width: 400px; height: 300px; overflow-y: scroll; display: none;">
	<?=\Entity\Settings::getSetting('cp_northgate_ras', '') ?>
</div>
