@charset "utf-8";

@import url('carpool.css');

html {
	background: #222 url('./layout/px_by_Gre3g.png') top left repeat;
}

body {
	background: transparent;
}

h1.title,
h2.title {
	padding: 0 0 20px 20px;
}
h1 {
	font-size: 35px;
}
h2 {
	font-size: 28px;
}
h1, h2 {
	color: #009D00;
}
a {
	color: #009D00;
}
a:hover {
	color: #47FF47;
}

div#body {
	border-radius: 0 0 10px 10px;
	
	-webkit-box-shadow:0 0 15px #000; 
	-moz-box-shadow: 0 0 15px #000; 
	box-shadow:0 0 15px #000;
	
	margin-bottom: 20px;
	background: #E9E9E9 url('layout/body-bg.png') repeat;
}

#header-wrapper {
	background-color: #009D00;
	background-image: -moz-linear-gradient(top, #47FF47, #009D00);
	background-image: -ms-linear-gradient(top, #47FF47, #009D00);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#47FF47), to(#009D00));
	background-image: -webkit-linear-gradient(top, #47FF47, #009D00);
	background-image: -o-linear-gradient(top, #47FF47, #009D00);
	background-image: linear-gradient(top, #47FF47, #009D00);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#47FF47', endColorstr='#009D00', GradientType=0);
}

#header {
	background: url('layout/header_left.png') center left no-repeat;
}
#header-inner {
	background: url('layout/header_right.png') center right no-repeat;
	height: 100px;
	position: relative;
}
#header a {
	color: #EFEFEF;
	text-decoration: none;
}

#logo-title-site {
	position: absolute;
}
#logo-title-site {
	top: 0px;
	left: 5px;
}
#logo-title-site,
#logo-title-site img {
	width: 500px;
	height: 90px;
}

.navbar-wrapper .navbar-inner {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.navbar-inner ul.nav > li > a {
	font-size: 14px;
	line-height: 20px;
}

div.content-top-alert {
	margin-left: 20px;
	margin-right: 20px;
}

div#content_top_wrapper {
	background: #EFEFEF;
	border-bottom: 1px solid #CCC;
}
div#content_top {
	color: #888;
	margin-top: -18px;
	padding: 10px 0 10px 0;
}

div#page_wrapper {
	margin-top: 20px;
}

div#breadcrumb {
	font-size: smaller;
	padding: 0 20px 0px 20px;
}

div#copyright {
	margin-top: 10px;
	padding-top: 15px;
	border-top: 1px solid #DDD;
	text-align: center;
}

.nav-pills > .active > a,
.nav-pills > .dropdown.active > a,
.nav-list > .active > a,
.nav-list > .active > a:hover {
	color: #FFF;
	background-color: #006600;
}

.nav-pills > .active > a:hover,
.nav-pills > .dropdown.active > a:hover {
	color: #FFF;
	background-color: #009900;
}

.btn-primary {
	background: #222;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
	background-color: #333;
}

.btn-group.open .btn-primary.dropdown-toggle {
	background-color: #555;
}

/**
 * Special Site Areas
 */

div.announcement {
	padding: 0px;
}
div.announcement h3 {
	padding-top: 5px;
	line-height: 25px;
}
div.announcement h3 span {
	vertical-align: top;
}

div#content_tabs {
	padding: 0 15px;
	margin-top: -10px;
}
div#content_tabs ul {
	margin-bottom: 0;
	border-bottom: 0;
}
div#content_tabs ul.nav-pills {
	margin-bottom: 15px;
}
div#content_tabs .tabs > li > a {
	border-bottom: 0;
	z-index: 10000;
}
div#content_tabs ul li.pull-right {
	float: right;
}