/**
 * Printable stylesheet
 */

body,html,#page_wrapper,#page {
    background: #FFF;
    color: #000;
}

body {
	min-width: 960px;
}

/** 
 * Header/Footer
 */

div#header-wrapper,
div.navbar-wrapper {
	display: none;
}

#header,
#footer,
#copyright {
    display: none;
}

/**
 * Main Body
 */

.container {
	width: 100%;
}
.row {
	width: 100%;
}
.row .span12 {
	width: 100%;
	float: none;
}

div.floating {
	padding-top: 0;
	padding-bottom: 0;

	border-radius: none;
	-moz-border-radius: none;
	-webkit-border-radius: none;
	
	-webkit-box-shadow: none; 
	-moz-box-shadow: none; 
	box-shadow: none; 
}

div.buttons, div.smallbuttons, .ui-button {
    display: none;
}