<?
$this->headTitle('Select SMS Recipients');
?>

<p>Select the recipients of your message from the list below. You will be able to see the SMS availability of each recipient in the next step.</p>

<form action="<?=$this->routeFromHere(array('action' => 'send')) ?>" method="post">

<dl>
<? foreach($this->all_users as $team_name => $team_users): ?>
	<dt><?=$team_name ?></dt>
	<dd><?=$this->formMulticheckbox('recipients', NULL, NULL, $team_users) ?></dd>
<? endforeach; ?>
</dl>

<div class="buttons">
	<?=$this->button(array(
		'type'		=> 'submit',
		'icon'		=> 'phone_add',
		'text'		=> 'Select Recipients',
	)) ?>
</div>
</form>