<?php $this->headTitle('Login Required'); ?>

<p>You must be logged in to access this page. Click the button below to log in with your NetID.</p>

<div class="buttons well">
	<?=$this->button(array(
		'type'		=> 'link',
		'class'		=> 'large primary',
		'href'		=> $this->route(array('module' => 'default', 'controller' => 'account', 'action' => 'login')),
		'icon'		=> 'key',
		'text'		=> 'Log In with NetID',
	)) ?>
</div>