<?
$this->headTitle('Top Ten');
$this->layout()->manual = TRUE;
?>

<div class="row">
	<div class="span6">
		<div class="floating">
			<h2>By Nights Worked</h2>

			<div class="row">
				<div class="span3">
					<h3>Males</h3>
					
					<table class="datatable zebra" width="100%">
						<colgroup>
							<col width="20%" />
							<col width="80%" />
						</colgroup>
						<tbody>
						<? foreach($this->topten['nights']['males'] as $user): ?>
							<tr>
								<td align="center"><?=$user['score'] ?></td>
								<td align="left"><?=$user['firstname'] ?> <?=$user['lastname'] ?></td>
							</tr>
						<? endforeach; ?>
						</tbody>
					</table>
				</div>
				<div class="span3">
					<h3>Females</h3>
					
					<table class="datatable zebra" width="100%">
						<colgroup>
							<col width="20%" />
							<col width="80%" />
						</colgroup>
						<tbody>
						<? foreach($this->topten['nights']['females'] as $user): ?>
							<tr>
								<td align="center"><?=$user['score'] ?></td>
								<td align="left"><?=$user['firstname'] ?> <?=$user['lastname'] ?></td>
							</tr>
						<? endforeach; ?>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="span6">
		<div class="floating">
			<h2>By Total Points</h2>

			<div class="row">
				<div class="span3">
					<h3>Males</h3>
					
					<table class="datatable zebra" width="100%">
						<colgroup>
							<col width="20%" />
							<col width="80%" />
						</colgroup>
						<tbody>
						<? foreach($this->topten['points']['males'] as $user): ?>
							<tr>
								<td align="center"><?=$user['score'] ?></td>
								<td align="left"><?=$user['firstname'] ?> <?=$user['lastname'] ?></td>
							</tr>
						<? endforeach; ?>
						</tbody>
					</table>
				</div>
				<div class="span3">
					<h3>Females</h3>
					
					<table class="datatable zebra" width="100%">
						<colgroup>
							<col width="20%" />
							<col width="80%" />
						</colgroup>
						<tbody>
						<? foreach($this->topten['points']['females'] as $user): ?>
							<tr>
								<td align="center"><?=$user['score'] ?></td>
								<td align="left"><?=$user['firstname'] ?> <?=$user['lastname'] ?></td>
							</tr>
						<? endforeach; ?>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="span12">
		<div class="floating">
			<h2>Weekly Awards</h2>
			
		<? if ($this->can_edit_awards): ?>
			<? $this->tinymce(); ?>
			<form action="<?=$this->routeFromHere(array('action' => 'setawards')) ?>" method="post">
			<textarea name="awards" class="tinymce full-width full-height"><?=$this->awards ?></textarea>
			
			<div class="buttons">
				<?=$this->button(array(
					'type'		=> 'submit',
					'icon'		=> 'disk',
					'text'		=> 'Save Awards',
				)) ?>
			</div>
			</form>
		<? else: ?>
			<?=$this->awards ?>
		<? endif; ?>
		</div>
	</div>
</div>