<?
$this->headTitle('Tracking')->headTitle('Phone Room');
$this->layout()->tabs = $this->renderHere('tabs', TRUE);

$this->pubNub();

$head_script = array(
    'var rides = '.json_encode($this->rides).';',
    'var pubnub_channel = \''.$this->channel_name.'\';',
    'var page_codes = [\'riding\'];'
);
$head_script = implode("\n", $head_script)."\n";

$head_script .= <<<EOF
var geocoder;
var map;
var latlng;
var latlngbounds;
var markers = [];

$(function() {
    initialize();
    initPubNub();

    for (i in rides)
    {
        var ride = rides[i];
        codeAddress(ride);
    }

    $('#btn-fullscreen').click(function(e) {
        e.preventDefault();

        if (BigScreen.enabled) {
            BigScreen.request($('#map_canvas')[0]);
            $('#map_canvas').css('height', '100%');
        }
    })
});

function initPubNub()
{
    $.pubnub.subscribe({
        channel: pubnub_channel
    }, function(message) {
        var record = message.record;
        
        if ($.inArray(record.status, page_codes) != -1)
        {
            codeAddress(record);
        }
        else
        {
            var car = record.car;
            markers[car] = null;
        }
    });
}

function initialize() {
    geocoder = new google.maps.Geocoder();
    latlng = new google.maps.LatLng(30.620477, -96.325982);

    var mapOptions = {
        zoom: 12,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

    var latlng_a = new google.maps.LatLng(30.679548927414192, -96.17114343798829);
    var latlng_b = new google.maps.LatLng(30.56136900317941, -96.48082056201173);
    var latlngbounds = new google.maps.LatLngBounds(latlng_b, latlng_a);
}

function codeAddress(ride) {

    var address = ride.pickup;
    if (ride.location == "CS")
        address += ' College Station TX';
    else
        address += ' Bryan TX';

    geocoder.geocode({
        address: address,
        bounds: latlngbounds
    }, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
            var car = ride.car;
            markers[i] = new google.maps.Marker({
                map: map,
                icon: DF_ContentPath+'/mapicons/blue/'+ride.car+'.png',
                title: 'Car #'+ride.car+': '+ride.pickup+' to '+ride.dropoff,
                position: results[0].geometry.location
            });
        } else {
            console.log("Geocode was not successful for the following reason: " + status);
        }
    });
}
EOF;

$this->headScript()->appendFile('//maps.googleapis.com/maps/api/js?sensor=false');
$this->headScript()->appendFile(\DF\Url::content('bigscreen.min.js'));
$this->headScript()->appendScript($head_script);
?>

<div class="buttons">
    <?=$this->button(array(
        'type'      => 'button',
        'id'        => 'btn-fullscreen',
        'text'      => 'Fullscreen Mode',
    )) ?>
</div>

<div id="map_canvas" style="width: 100%; height: 400px;"></div> 

<!--
    <tr id="row{{=num}}">
        <td><div id="row_{{=num}}_name">{{=name }}</div></td>
        <td>{{=riders }}</td>
        <td><a href="{{=pickup_map }}" class="fancybox fancybox.iframe">{{=pickup }}</a></td>
        <td><a href="{{=dropoff_map }}" class="fancybox fancybox.iframe">{{=dropoff }}</a></td>
        <td nowrap="nowrap">{{=cell_display }}</td>
        <td>{{=clothes }}</td>
        <td>{{=notes }}</td>
        <td><span class="live_time {{=wait_time_class }}">{{=wait_time }}</span></td>
    </tr>
-->