<?
$this->headTitle('Members of Team: '.$this->team['team_name']);

$submit_button = $this->button(array(
	'type'		=> 'submit',
	'class'		=> 'positive',
	'icon'		=> 'disk',
	'text'		=> 'Save Changes',
));
?>
<form action="<?=\DF\Url::current() ?>" method="post">
<input type="hidden" name="submitted" value="true" />

<div class="buttons"><?=$submit_button ?></div>

<dl>
	<dd>
    	<?=$this->formMultiCheckbox('members', $this->team_members, NULL, $this->user_options) ?>
    </dd>
</dl>

<div class="buttons"><?=$submit_button ?></div>
</form>