<?
$this->headTitle('Statistics')->headTitle('Phone Room');
$this->layout()->tabs = $this->renderHere('tabs', TRUE);
?>

<div id="stats-content" class="row">
    <img id="top-chart" src="<?=$this->stats['type_by_hour'] ?>" alt="" />
    <img id="top-chart" src="<?=$this->stats['status_by_hour'] ?>" alt="" />
    <img id="ride-meter" src="<?=$this->stats['ride_meter'] ?>" alt="" />
    <img id="pie-chart" src="<?=$this->stats['pie_chart'] ?>" alt="" />
    <img id="car-chart" src="<?=$this->stats['rides_by_car'] ?>" alt="" />
    <img id="ride-count" src="<?=$this->stats['rides_by_status'] ?>" alt="" />
</div>