<?
$this->headTitle('Change Team Settings');
$save_button = $this->button(array(
	'type'		=> 'submit',
	'class'		=> 'positive',
	'icon'		=> 'disk',
	'text'		=> 'Save Changes',
));
?>
<form action="<?=\DF\Url::current() ?>" method="post">
<div class="buttons"><?=$save_button ?></div>

<dl>
	<dt>Team Announcement:</dt>
    <dd><textarea name="settings[cp_team_<?=$this->team_num ?>_announcement]" class="full-width full-height"><?=$this->site_settings['cp_team_'.$this->team_num.'_announcement'] ?></textarea></dd>
    <dd class="info">You can use full HTML in this field.</dd>
</dl>

<div class="buttons"><?=$save_button ?></div>
</form>