<?
$this->headTitle('Nice Things Report');
?>

<p>After printing, discard this first page.</p>

<? foreach($this->users as $user): ?>
    <h2 style="page-break-before: always;"><?=$user['firstname'] ?> <?=$user['lastname'] ?></h2>
    
    <? foreach((array)$user['NiceThing'] as $thing): ?>
    <div style="page-break-inside: avoid; margin: 5px 0; padding: 5px 0 0 0; border-top: 1px solid #CCC;">
        <?=nl2br($thing['message']) ?>
    </div>
    <? endforeach; ?>
<? endforeach; ?>

<p style="page-break-before: always;">Discard this last page as well.</p>