<?
$this->headTitle('Select NDR');
?>

<p>Choose the NDR that you are submitting debriefings for from the list below.</p>

<dl>
<? foreach($this->active_ndrs as $report): ?>
    <dt><a href="<?=$this->routeFromHere(array('ndr_id' => $report['id'])) ?>"><?=$report['event']['title'] ?></a></dt>
    <dd><?=$report['event']['event_date']->format('F j, Y') ?></dd>
<? endforeach; ?>
</dl>