.ui-silk { width: 16px; height: 16px; background: transparent url(silk-sprite.png?634021826077603114) no-repeat; overflow: hidden; }
.ui-silk.gray, .ui-silk.gray { background: transparent url(silk-sprite-gray.png?634021826077603114) no-repeat; }
a.ui-silk, input.ui-silk, span.ui-silk{ display: inline-block; vertical-align: top; border: 0; outline: 0; }
.ui-silk-accept { background-position: -0px -0px }
.ui-silk-add { background-position: -16px -0px }
.ui-silk-anchor { background-position: -32px -0px }
.ui-silk-application { background-position: -48px -0px }
.ui-silk-application-add { background-position: -64px -0px }
.ui-silk-application-cascade { background-position: -80px -0px }
.ui-silk-application-delete { background-position: -96px -0px }
.ui-silk-application-double { background-position: -112px -0px }
.ui-silk-application-edit { background-position: -128px -0px }
.ui-silk-application-error { background-position: -144px -0px }
.ui-silk-application-form { background-position: -160px -0px }
.ui-silk-application-form-add { background-position: -176px -0px }
.ui-silk-application-form-delete { background-position: -192px -0px }
.ui-silk-application-form-edit { background-position: -208px -0px }
.ui-silk-application-form-magnify { background-position: -224px -0px }
.ui-silk-application-get { background-position: -240px -0px }
.ui-silk-application-go { background-position: -256px -0px }
.ui-silk-application-home { background-position: -272px -0px }
.ui-silk-application-key { background-position: -288px -0px }
.ui-silk-application-lightning { background-position: -304px -0px }
.ui-silk-application-link { background-position: -320px -0px }
.ui-silk-application-osx { background-position: -336px -0px }
.ui-silk-application-osx-terminal { background-position: -352px -0px }
.ui-silk-application-put { background-position: -368px -0px }
.ui-silk-application-side-boxes { background-position: -384px -0px }
.ui-silk-application-side-contract { background-position: -400px -0px }
.ui-silk-application-side-expand { background-position: -416px -0px }
.ui-silk-application-side-list { background-position: -432px -0px }
.ui-silk-application-side-tree { background-position: -448px -0px }
.ui-silk-application-split { background-position: -464px -0px }
.ui-silk-application-tile-horizontal { background-position: -480px -0px }
.ui-silk-application-tile-vertical { background-position: -496px -0px }
.ui-silk-application-view-columns { background-position: -0px -16px }
.ui-silk-application-view-detail { background-position: -16px -16px }
.ui-silk-application-view-gallery { background-position: -32px -16px }
.ui-silk-application-view-icons { background-position: -48px -16px }
.ui-silk-application-view-list { background-position: -64px -16px }
.ui-silk-application-view-tile { background-position: -80px -16px }
.ui-silk-application-xp { background-position: -96px -16px }
.ui-silk-application-xp-terminal { background-position: -112px -16px }
.ui-silk-arrow-branch { background-position: -128px -16px }
.ui-silk-arrow-divide { background-position: -144px -16px }
.ui-silk-arrow-down { background-position: -160px -16px }
.ui-silk-arrow-in { background-position: -176px -16px }
.ui-silk-arrow-inout { background-position: -192px -16px }
.ui-silk-arrow-join { background-position: -208px -16px }
.ui-silk-arrow-left { background-position: -224px -16px }
.ui-silk-arrow-merge { background-position: -240px -16px }
.ui-silk-arrow-out { background-position: -256px -16px }
.ui-silk-arrow-redo { background-position: -272px -16px }
.ui-silk-arrow-refresh { background-position: -288px -16px }
.ui-silk-arrow-refresh-small { background-position: -304px -16px }
.ui-silk-arrow-right { background-position: -320px -16px }
.ui-silk-arrow-rotate-anticlockwise { background-position: -336px -16px }
.ui-silk-arrow-rotate-clockwise { background-position: -352px -16px }
.ui-silk-arrow-switch { background-position: -368px -16px }
.ui-silk-arrow-turn-left { background-position: -384px -16px }
.ui-silk-arrow-turn-right { background-position: -400px -16px }
.ui-silk-arrow-undo { background-position: -416px -16px }
.ui-silk-arrow-up { background-position: -432px -16px }
.ui-silk-asterisk-orange { background-position: -448px -16px }
.ui-silk-asterisk-yellow { background-position: -464px -16px }
.ui-silk-attach { background-position: -480px -16px }
.ui-silk-award-star-add { background-position: -496px -16px }
.ui-silk-award-star-bronze-1 { background-position: -0px -32px }
.ui-silk-award-star-bronze-2 { background-position: -16px -32px }
.ui-silk-award-star-bronze-3 { background-position: -32px -32px }
.ui-silk-award-star-delete { background-position: -48px -32px }
.ui-silk-award-star-gold-1 { background-position: -64px -32px }
.ui-silk-award-star-gold-2 { background-position: -80px -32px }
.ui-silk-award-star-gold-3 { background-position: -96px -32px }
.ui-silk-award-star-silver-1 { background-position: -112px -32px }
.ui-silk-award-star-silver-2 { background-position: -128px -32px }
.ui-silk-award-star-silver-3 { background-position: -144px -32px }
.ui-silk-basket { background-position: -160px -32px }
.ui-silk-basket-add { background-position: -176px -32px }
.ui-silk-basket-delete { background-position: -192px -32px }
.ui-silk-basket-edit { background-position: -208px -32px }
.ui-silk-basket-error { background-position: -224px -32px }
.ui-silk-basket-go { background-position: -240px -32px }
.ui-silk-basket-put { background-position: -256px -32px }
.ui-silk-basket-remove { background-position: -272px -32px }
.ui-silk-bell { background-position: -288px -32px }
.ui-silk-bell-add { background-position: -304px -32px }
.ui-silk-bell-delete { background-position: -320px -32px }
.ui-silk-bell-error { background-position: -336px -32px }
.ui-silk-bell-go { background-position: -352px -32px }
.ui-silk-bell-link { background-position: -368px -32px }
.ui-silk-bin { background-position: -384px -32px }
.ui-silk-bin-closed { background-position: -400px -32px }
.ui-silk-bin-empty { background-position: -416px -32px }
.ui-silk-bomb { background-position: -432px -32px }
.ui-silk-book { background-position: -448px -32px }
.ui-silk-book-add { background-position: -464px -32px }
.ui-silk-book-addresses { background-position: -480px -32px }
.ui-silk-book-delete { background-position: -496px -32px }
.ui-silk-book-edit { background-position: -0px -48px }
.ui-silk-book-error { background-position: -16px -48px }
.ui-silk-book-go { background-position: -32px -48px }
.ui-silk-book-key { background-position: -48px -48px }
.ui-silk-book-link { background-position: -64px -48px }
.ui-silk-book-next { background-position: -80px -48px }
.ui-silk-book-open { background-position: -96px -48px }
.ui-silk-book-previous { background-position: -112px -48px }
.ui-silk-box { background-position: -128px -48px }
.ui-silk-brick { background-position: -144px -48px }
.ui-silk-bricks { background-position: -160px -48px }
.ui-silk-brick-add { background-position: -176px -48px }
.ui-silk-brick-delete { background-position: -192px -48px }
.ui-silk-brick-edit { background-position: -208px -48px }
.ui-silk-brick-error { background-position: -224px -48px }
.ui-silk-brick-go { background-position: -240px -48px }
.ui-silk-brick-link { background-position: -256px -48px }
.ui-silk-briefcase { background-position: -272px -48px }
.ui-silk-bug { background-position: -288px -48px }
.ui-silk-bug-add { background-position: -304px -48px }
.ui-silk-bug-delete { background-position: -320px -48px }
.ui-silk-bug-edit { background-position: -336px -48px }
.ui-silk-bug-error { background-position: -352px -48px }
.ui-silk-bug-go { background-position: -368px -48px }
.ui-silk-bug-link { background-position: -384px -48px }
.ui-silk-building { background-position: -400px -48px }
.ui-silk-building-add { background-position: -416px -48px }
.ui-silk-building-delete { background-position: -432px -48px }
.ui-silk-building-edit { background-position: -448px -48px }
.ui-silk-building-error { background-position: -464px -48px }
.ui-silk-building-go { background-position: -480px -48px }
.ui-silk-building-key { background-position: -496px -48px }
.ui-silk-building-link { background-position: -0px -64px }
.ui-silk-bullet-add { background-position: -16px -64px }
.ui-silk-bullet-arrow-bottom { background-position: -32px -64px }
.ui-silk-bullet-arrow-down { background-position: -48px -64px }
.ui-silk-bullet-arrow-top { background-position: -64px -64px }
.ui-silk-bullet-arrow-up { background-position: -80px -64px }
.ui-silk-bullet-black { background-position: -96px -64px }
.ui-silk-bullet-blue { background-position: -112px -64px }
.ui-silk-bullet-delete { background-position: -128px -64px }
.ui-silk-bullet-disk { background-position: -144px -64px }
.ui-silk-bullet-error { background-position: -160px -64px }
.ui-silk-bullet-feed { background-position: -176px -64px }
.ui-silk-bullet-go { background-position: -192px -64px }
.ui-silk-bullet-green { background-position: -208px -64px }
.ui-silk-bullet-key { background-position: -224px -64px }
.ui-silk-bullet-orange { background-position: -240px -64px }
.ui-silk-bullet-picture { background-position: -256px -64px }
.ui-silk-bullet-pink { background-position: -272px -64px }
.ui-silk-bullet-purple { background-position: -288px -64px }
.ui-silk-bullet-red { background-position: -304px -64px }
.ui-silk-bullet-star { background-position: -320px -64px }
.ui-silk-bullet-toggle-minus { background-position: -336px -64px }
.ui-silk-bullet-toggle-plus { background-position: -352px -64px }
.ui-silk-bullet-white { background-position: -368px -64px }
.ui-silk-bullet-wrench { background-position: -384px -64px }
.ui-silk-bullet-yellow { background-position: -400px -64px }
.ui-silk-cake { background-position: -416px -64px }
.ui-silk-calculator { background-position: -432px -64px }
.ui-silk-calculator-add { background-position: -448px -64px }
.ui-silk-calculator-delete { background-position: -464px -64px }
.ui-silk-calculator-edit { background-position: -480px -64px }
.ui-silk-calculator-error { background-position: -496px -64px }
.ui-silk-calculator-link { background-position: -0px -80px }
.ui-silk-calendar { background-position: -16px -80px }
.ui-silk-calendar-add { background-position: -32px -80px }
.ui-silk-calendar-delete { background-position: -48px -80px }
.ui-silk-calendar-edit { background-position: -64px -80px }
.ui-silk-calendar-link { background-position: -80px -80px }
.ui-silk-calendar-view-day { background-position: -96px -80px }
.ui-silk-calendar-view-month { background-position: -112px -80px }
.ui-silk-calendar-view-week { background-position: -128px -80px }
.ui-silk-camera { background-position: -144px -80px }
.ui-silk-camera-add { background-position: -160px -80px }
.ui-silk-camera-delete { background-position: -176px -80px }
.ui-silk-camera-edit { background-position: -192px -80px }
.ui-silk-camera-error { background-position: -208px -80px }
.ui-silk-camera-go { background-position: -224px -80px }
.ui-silk-camera-link { background-position: -240px -80px }
.ui-silk-camera-small { background-position: -256px -80px }
.ui-silk-cancel { background-position: -272px -80px }
.ui-silk-car { background-position: -288px -80px }
.ui-silk-cart { background-position: -304px -80px }
.ui-silk-cart-add { background-position: -320px -80px }
.ui-silk-cart-delete { background-position: -336px -80px }
.ui-silk-cart-edit { background-position: -352px -80px }
.ui-silk-cart-error { background-position: -368px -80px }
.ui-silk-cart-go { background-position: -384px -80px }
.ui-silk-cart-put { background-position: -400px -80px }
.ui-silk-cart-remove { background-position: -416px -80px }
.ui-silk-car-add { background-position: -432px -80px }
.ui-silk-car-delete { background-position: -448px -80px }
.ui-silk-cd { background-position: -464px -80px }
.ui-silk-cd-add { background-position: -480px -80px }
.ui-silk-cd-burn { background-position: -496px -80px }
.ui-silk-cd-delete { background-position: -0px -96px }
.ui-silk-cd-edit { background-position: -16px -96px }
.ui-silk-cd-eject { background-position: -32px -96px }
.ui-silk-cd-go { background-position: -48px -96px }
.ui-silk-chart-bar { background-position: -64px -96px }
.ui-silk-chart-bar-add { background-position: -80px -96px }
.ui-silk-chart-bar-delete { background-position: -96px -96px }
.ui-silk-chart-bar-edit { background-position: -112px -96px }
.ui-silk-chart-bar-error { background-position: -128px -96px }
.ui-silk-chart-bar-link { background-position: -144px -96px }
.ui-silk-chart-curve { background-position: -160px -96px }
.ui-silk-chart-curve-add { background-position: -176px -96px }
.ui-silk-chart-curve-delete { background-position: -192px -96px }
.ui-silk-chart-curve-edit { background-position: -208px -96px }
.ui-silk-chart-curve-error { background-position: -224px -96px }
.ui-silk-chart-curve-go { background-position: -240px -96px }
.ui-silk-chart-curve-link { background-position: -256px -96px }
.ui-silk-chart-line { background-position: -272px -96px }
.ui-silk-chart-line-add { background-position: -288px -96px }
.ui-silk-chart-line-delete { background-position: -304px -96px }
.ui-silk-chart-line-edit { background-position: -320px -96px }
.ui-silk-chart-line-error { background-position: -336px -96px }
.ui-silk-chart-line-link { background-position: -352px -96px }
.ui-silk-chart-organisation { background-position: -368px -96px }
.ui-silk-chart-organisation-add { background-position: -384px -96px }
.ui-silk-chart-organisation-delete { background-position: -400px -96px }
.ui-silk-chart-pie { background-position: -416px -96px }
.ui-silk-chart-pie-add { background-position: -432px -96px }
.ui-silk-chart-pie-delete { background-position: -448px -96px }
.ui-silk-chart-pie-edit { background-position: -464px -96px }
.ui-silk-chart-pie-error { background-position: -480px -96px }
.ui-silk-chart-pie-link { background-position: -496px -96px }
.ui-silk-clock { background-position: -0px -112px }
.ui-silk-clock-add { background-position: -16px -112px }
.ui-silk-clock-delete { background-position: -32px -112px }
.ui-silk-clock-edit { background-position: -48px -112px }
.ui-silk-clock-error { background-position: -64px -112px }
.ui-silk-clock-go { background-position: -80px -112px }
.ui-silk-clock-link { background-position: -96px -112px }
.ui-silk-clock-pause { background-position: -112px -112px }
.ui-silk-clock-play { background-position: -128px -112px }
.ui-silk-clock-red { background-position: -144px -112px }
.ui-silk-clock-stop { background-position: -160px -112px }
.ui-silk-cog { background-position: -176px -112px }
.ui-silk-cog-add { background-position: -192px -112px }
.ui-silk-cog-delete { background-position: -208px -112px }
.ui-silk-cog-edit { background-position: -224px -112px }
.ui-silk-cog-error { background-position: -240px -112px }
.ui-silk-cog-go { background-position: -256px -112px }
.ui-silk-coins { background-position: -272px -112px }
.ui-silk-coins-add { background-position: -288px -112px }
.ui-silk-coins-delete { background-position: -304px -112px }
.ui-silk-color-swatch { background-position: -320px -112px }
.ui-silk-color-wheel { background-position: -336px -112px }
.ui-silk-comment { background-position: -352px -112px }
.ui-silk-comments { background-position: -368px -112px }
.ui-silk-comments-add { background-position: -384px -112px }
.ui-silk-comments-delete { background-position: -400px -112px }
.ui-silk-comment-add { background-position: -416px -112px }
.ui-silk-comment-delete { background-position: -432px -112px }
.ui-silk-comment-edit { background-position: -448px -112px }
.ui-silk-compress { background-position: -464px -112px }
.ui-silk-computer { background-position: -480px -112px }
.ui-silk-computer-add { background-position: -496px -112px }
.ui-silk-computer-delete { background-position: -0px -128px }
.ui-silk-computer-edit { background-position: -16px -128px }
.ui-silk-computer-error { background-position: -32px -128px }
.ui-silk-computer-go { background-position: -48px -128px }
.ui-silk-computer-key { background-position: -64px -128px }
.ui-silk-computer-link { background-position: -80px -128px }
.ui-silk-connect { background-position: -96px -128px }
.ui-silk-contrast { background-position: -112px -128px }
.ui-silk-contrast-decrease { background-position: -128px -128px }
.ui-silk-contrast-high { background-position: -144px -128px }
.ui-silk-contrast-increase { background-position: -160px -128px }
.ui-silk-contrast-low { background-position: -176px -128px }
.ui-silk-controller { background-position: -192px -128px }
.ui-silk-controller-add { background-position: -208px -128px }
.ui-silk-controller-delete { background-position: -224px -128px }
.ui-silk-controller-error { background-position: -240px -128px }
.ui-silk-control-eject { background-position: -256px -128px }
.ui-silk-control-eject-blue { background-position: -272px -128px }
.ui-silk-control-end { background-position: -288px -128px }
.ui-silk-control-end-blue { background-position: -304px -128px }
.ui-silk-control-equalizer { background-position: -320px -128px }
.ui-silk-control-equalizer-blue { background-position: -336px -128px }
.ui-silk-control-fastforward { background-position: -352px -128px }
.ui-silk-control-fastforward-blue { background-position: -368px -128px }
.ui-silk-control-pause { background-position: -384px -128px }
.ui-silk-control-pause-blue { background-position: -400px -128px }
.ui-silk-control-play { background-position: -416px -128px }
.ui-silk-control-play-blue { background-position: -432px -128px }
.ui-silk-control-repeat { background-position: -448px -128px }
.ui-silk-control-repeat-blue { background-position: -464px -128px }
.ui-silk-control-rewind { background-position: -480px -128px }
.ui-silk-control-rewind-blue { background-position: -496px -128px }
.ui-silk-control-start { background-position: -0px -144px }
.ui-silk-control-start-blue { background-position: -16px -144px }
.ui-silk-control-stop { background-position: -32px -144px }
.ui-silk-control-stop-blue { background-position: -48px -144px }
.ui-silk-creditcards { background-position: -64px -144px }
.ui-silk-cross { background-position: -80px -144px }
.ui-silk-css { background-position: -96px -144px }
.ui-silk-css-add { background-position: -112px -144px }
.ui-silk-css-delete { background-position: -128px -144px }
.ui-silk-css-go { background-position: -144px -144px }
.ui-silk-css-valid { background-position: -160px -144px }
.ui-silk-cup { background-position: -176px -144px }
.ui-silk-cup-add { background-position: -192px -144px }
.ui-silk-cup-delete { background-position: -208px -144px }
.ui-silk-cup-edit { background-position: -224px -144px }
.ui-silk-cup-error { background-position: -240px -144px }
.ui-silk-cup-go { background-position: -256px -144px }
.ui-silk-cup-key { background-position: -272px -144px }
.ui-silk-cup-link { background-position: -288px -144px }
.ui-silk-cursor { background-position: -304px -144px }
.ui-silk-cut { background-position: -320px -144px }
.ui-silk-cut-red { background-position: -336px -144px }
.ui-silk-database { background-position: -352px -144px }
.ui-silk-database-add { background-position: -368px -144px }
.ui-silk-database-connect { background-position: -384px -144px }
.ui-silk-database-delete { background-position: -400px -144px }
.ui-silk-database-edit { background-position: -416px -144px }
.ui-silk-database-error { background-position: -432px -144px }
.ui-silk-database-gear { background-position: -448px -144px }
.ui-silk-database-go { background-position: -464px -144px }
.ui-silk-database-key { background-position: -480px -144px }
.ui-silk-database-lightning { background-position: -496px -144px }
.ui-silk-database-link { background-position: -0px -160px }
.ui-silk-database-refresh { background-position: -16px -160px }
.ui-silk-database-save { background-position: -32px -160px }
.ui-silk-database-table { background-position: -48px -160px }
.ui-silk-date { background-position: -64px -160px }
.ui-silk-date-add { background-position: -80px -160px }
.ui-silk-date-delete { background-position: -96px -160px }
.ui-silk-date-edit { background-position: -112px -160px }
.ui-silk-date-error { background-position: -128px -160px }
.ui-silk-date-go { background-position: -144px -160px }
.ui-silk-date-link { background-position: -160px -160px }
.ui-silk-date-magnify { background-position: -176px -160px }
.ui-silk-date-next { background-position: -192px -160px }
.ui-silk-date-previous { background-position: -208px -160px }
.ui-silk-delete { background-position: -224px -160px }
.ui-silk-disconnect { background-position: -240px -160px }
.ui-silk-disk { background-position: -256px -160px }
.ui-silk-disk-multiple { background-position: -272px -160px }
.ui-silk-door { background-position: -288px -160px }
.ui-silk-door-in { background-position: -304px -160px }
.ui-silk-door-open { background-position: -320px -160px }
.ui-silk-door-out { background-position: -336px -160px }
.ui-silk-drink { background-position: -352px -160px }
.ui-silk-drink-empty { background-position: -368px -160px }
.ui-silk-drive { background-position: -384px -160px }
.ui-silk-drive-add { background-position: -400px -160px }
.ui-silk-drive-burn { background-position: -416px -160px }
.ui-silk-drive-cd { background-position: -432px -160px }
.ui-silk-drive-cd-empty { background-position: -448px -160px }
.ui-silk-drive-delete { background-position: -464px -160px }
.ui-silk-drive-disk { background-position: -480px -160px }
.ui-silk-drive-edit { background-position: -496px -160px }
.ui-silk-drive-error { background-position: -0px -176px }
.ui-silk-drive-go { background-position: -16px -176px }
.ui-silk-drive-key { background-position: -32px -176px }
.ui-silk-drive-link { background-position: -48px -176px }
.ui-silk-drive-magnify { background-position: -64px -176px }
.ui-silk-drive-network { background-position: -80px -176px }
.ui-silk-drive-rename { background-position: -96px -176px }
.ui-silk-drive-user { background-position: -112px -176px }
.ui-silk-drive-web { background-position: -128px -176px }
.ui-silk-dvd { background-position: -144px -176px }
.ui-silk-dvd-add { background-position: -160px -176px }
.ui-silk-dvd-delete { background-position: -176px -176px }
.ui-silk-dvd-edit { background-position: -192px -176px }
.ui-silk-dvd-error { background-position: -208px -176px }
.ui-silk-dvd-go { background-position: -224px -176px }
.ui-silk-dvd-key { background-position: -240px -176px }
.ui-silk-dvd-link { background-position: -256px -176px }
.ui-silk-email { background-position: -272px -176px }
.ui-silk-email-add { background-position: -288px -176px }
.ui-silk-email-attach { background-position: -304px -176px }
.ui-silk-email-delete { background-position: -320px -176px }
.ui-silk-email-edit { background-position: -336px -176px }
.ui-silk-email-error { background-position: -352px -176px }
.ui-silk-email-go { background-position: -368px -176px }
.ui-silk-email-link { background-position: -384px -176px }
.ui-silk-email-open { background-position: -400px -176px }
.ui-silk-email-open-image { background-position: -416px -176px }
.ui-silk-emoticon-evilgrin { background-position: -432px -176px }
.ui-silk-emoticon-grin { background-position: -448px -176px }
.ui-silk-emoticon-happy { background-position: -464px -176px }
.ui-silk-emoticon-smile { background-position: -480px -176px }
.ui-silk-emoticon-surprised { background-position: -496px -176px }
.ui-silk-emoticon-tongue { background-position: -0px -192px }
.ui-silk-emoticon-unhappy { background-position: -16px -192px }
.ui-silk-emoticon-waii { background-position: -32px -192px }
.ui-silk-emoticon-wink { background-position: -48px -192px }
.ui-silk-error { background-position: -64px -192px }
.ui-silk-error-add { background-position: -80px -192px }
.ui-silk-error-delete { background-position: -96px -192px }
.ui-silk-error-go { background-position: -112px -192px }
.ui-silk-exclamation { background-position: -128px -192px }
.ui-silk-eye { background-position: -144px -192px }
.ui-silk-feed { background-position: -160px -192px }
.ui-silk-feed-add { background-position: -176px -192px }
.ui-silk-feed-delete { background-position: -192px -192px }
.ui-silk-feed-disk { background-position: -208px -192px }
.ui-silk-feed-edit { background-position: -224px -192px }
.ui-silk-feed-error { background-position: -240px -192px }
.ui-silk-feed-go { background-position: -256px -192px }
.ui-silk-feed-key { background-position: -272px -192px }
.ui-silk-feed-link { background-position: -288px -192px }
.ui-silk-feed-magnify { background-position: -304px -192px }
.ui-silk-female { background-position: -320px -192px }
.ui-silk-film { background-position: -336px -192px }
.ui-silk-film-add { background-position: -352px -192px }
.ui-silk-film-delete { background-position: -368px -192px }
.ui-silk-film-edit { background-position: -384px -192px }
.ui-silk-film-error { background-position: -400px -192px }
.ui-silk-film-go { background-position: -416px -192px }
.ui-silk-film-key { background-position: -432px -192px }
.ui-silk-film-link { background-position: -448px -192px }
.ui-silk-film-save { background-position: -464px -192px }
.ui-silk-find { background-position: -480px -192px }
.ui-silk-flag-blue { background-position: -496px -192px }
.ui-silk-flag-green { background-position: -0px -208px }
.ui-silk-flag-orange { background-position: -16px -208px }
.ui-silk-flag-pink { background-position: -32px -208px }
.ui-silk-flag-purple { background-position: -48px -208px }
.ui-silk-flag-red { background-position: -64px -208px }
.ui-silk-flag-yellow { background-position: -80px -208px }
.ui-silk-folder { background-position: -96px -208px }
.ui-silk-folder-add { background-position: -112px -208px }
.ui-silk-folder-bell { background-position: -128px -208px }
.ui-silk-folder-brick { background-position: -144px -208px }
.ui-silk-folder-bug { background-position: -160px -208px }
.ui-silk-folder-camera { background-position: -176px -208px }
.ui-silk-folder-database { background-position: -192px -208px }
.ui-silk-folder-delete { background-position: -208px -208px }
.ui-silk-folder-edit { background-position: -224px -208px }
.ui-silk-folder-error { background-position: -240px -208px }
.ui-silk-folder-explore { background-position: -256px -208px }
.ui-silk-folder-feed { background-position: -272px -208px }
.ui-silk-folder-find { background-position: -288px -208px }
.ui-silk-folder-go { background-position: -304px -208px }
.ui-silk-folder-heart { background-position: -320px -208px }
.ui-silk-folder-image { background-position: -336px -208px }
.ui-silk-folder-key { background-position: -352px -208px }
.ui-silk-folder-lightbulb { background-position: -368px -208px }
.ui-silk-folder-link { background-position: -384px -208px }
.ui-silk-folder-magnify { background-position: -400px -208px }
.ui-silk-folder-page { background-position: -416px -208px }
.ui-silk-folder-page-white { background-position: -432px -208px }
.ui-silk-folder-palette { background-position: -448px -208px }
.ui-silk-folder-picture { background-position: -464px -208px }
.ui-silk-folder-star { background-position: -480px -208px }
.ui-silk-folder-table { background-position: -496px -208px }
.ui-silk-folder-user { background-position: -0px -224px }
.ui-silk-folder-wrench { background-position: -16px -224px }
.ui-silk-font { background-position: -32px -224px }
.ui-silk-font-add { background-position: -48px -224px }
.ui-silk-font-delete { background-position: -64px -224px }
.ui-silk-font-go { background-position: -80px -224px }
.ui-silk-group { background-position: -96px -224px }
.ui-silk-group-add { background-position: -112px -224px }
.ui-silk-group-delete { background-position: -128px -224px }
.ui-silk-group-edit { background-position: -144px -224px }
.ui-silk-group-error { background-position: -160px -224px }
.ui-silk-group-gear { background-position: -176px -224px }
.ui-silk-group-go { background-position: -192px -224px }
.ui-silk-group-key { background-position: -208px -224px }
.ui-silk-group-link { background-position: -224px -224px }
.ui-silk-heart { background-position: -240px -224px }
.ui-silk-heart-add { background-position: -256px -224px }
.ui-silk-heart-delete { background-position: -272px -224px }
.ui-silk-help { background-position: -288px -224px }
.ui-silk-hourglass { background-position: -304px -224px }
.ui-silk-hourglass-add { background-position: -320px -224px }
.ui-silk-hourglass-delete { background-position: -336px -224px }
.ui-silk-hourglass-go { background-position: -352px -224px }
.ui-silk-hourglass-link { background-position: -368px -224px }
.ui-silk-house { background-position: -384px -224px }
.ui-silk-house-go { background-position: -400px -224px }
.ui-silk-house-link { background-position: -416px -224px }
.ui-silk-html { background-position: -432px -224px }
.ui-silk-html-add { background-position: -448px -224px }
.ui-silk-html-delete { background-position: -464px -224px }
.ui-silk-html-go { background-position: -480px -224px }
.ui-silk-html-valid { background-position: -496px -224px }
.ui-silk-image { background-position: -0px -240px }
.ui-silk-images { background-position: -16px -240px }
.ui-silk-image-add { background-position: -32px -240px }
.ui-silk-image-delete { background-position: -48px -240px }
.ui-silk-image-edit { background-position: -64px -240px }
.ui-silk-image-link { background-position: -80px -240px }
.ui-silk-information { background-position: -96px -240px }
.ui-silk-ipod { background-position: -112px -240px }
.ui-silk-ipod-cast { background-position: -128px -240px }
.ui-silk-ipod-cast-add { background-position: -144px -240px }
.ui-silk-ipod-cast-delete { background-position: -160px -240px }
.ui-silk-ipod-sound { background-position: -176px -240px }
.ui-silk-joystick { background-position: -192px -240px }
.ui-silk-joystick-add { background-position: -208px -240px }
.ui-silk-joystick-delete { background-position: -224px -240px }
.ui-silk-joystick-error { background-position: -240px -240px }
.ui-silk-key { background-position: -256px -240px }
.ui-silk-keyboard { background-position: -272px -240px }
.ui-silk-keyboard-add { background-position: -288px -240px }
.ui-silk-keyboard-delete { background-position: -304px -240px }
.ui-silk-keyboard-magnify { background-position: -320px -240px }
.ui-silk-key-add { background-position: -336px -240px }
.ui-silk-key-delete { background-position: -352px -240px }
.ui-silk-key-go { background-position: -368px -240px }
.ui-silk-layers { background-position: -384px -240px }
.ui-silk-layout { background-position: -400px -240px }
.ui-silk-layout-add { background-position: -416px -240px }
.ui-silk-layout-content { background-position: -432px -240px }
.ui-silk-layout-delete { background-position: -448px -240px }
.ui-silk-layout-edit { background-position: -464px -240px }
.ui-silk-layout-error { background-position: -480px -240px }
.ui-silk-layout-header { background-position: -496px -240px }
.ui-silk-layout-link { background-position: -0px -256px }
.ui-silk-layout-sidebar { background-position: -16px -256px }
.ui-silk-lightbulb { background-position: -32px -256px }
.ui-silk-lightbulb-add { background-position: -48px -256px }
.ui-silk-lightbulb-delete { background-position: -64px -256px }
.ui-silk-lightbulb-off { background-position: -80px -256px }
.ui-silk-lightning { background-position: -96px -256px }
.ui-silk-lightning-add { background-position: -112px -256px }
.ui-silk-lightning-delete { background-position: -128px -256px }
.ui-silk-lightning-go { background-position: -144px -256px }
.ui-silk-link { background-position: -160px -256px }
.ui-silk-link-add { background-position: -176px -256px }
.ui-silk-link-break { background-position: -192px -256px }
.ui-silk-link-delete { background-position: -208px -256px }
.ui-silk-link-edit { background-position: -224px -256px }
.ui-silk-link-error { background-position: -240px -256px }
.ui-silk-link-go { background-position: -256px -256px }
.ui-silk-lock { background-position: -272px -256px }
.ui-silk-lock-add { background-position: -288px -256px }
.ui-silk-lock-break { background-position: -304px -256px }
.ui-silk-lock-delete { background-position: -320px -256px }
.ui-silk-lock-edit { background-position: -336px -256px }
.ui-silk-lock-go { background-position: -352px -256px }
.ui-silk-lock-open { background-position: -368px -256px }
.ui-silk-lorry { background-position: -384px -256px }
.ui-silk-lorry-add { background-position: -400px -256px }
.ui-silk-lorry-delete { background-position: -416px -256px }
.ui-silk-lorry-error { background-position: -432px -256px }
.ui-silk-lorry-flatbed { background-position: -448px -256px }
.ui-silk-lorry-go { background-position: -464px -256px }
.ui-silk-lorry-link { background-position: -480px -256px }
.ui-silk-magifier-zoom-out { background-position: -496px -256px }
.ui-silk-magnifier { background-position: -0px -272px }
.ui-silk-magnifier-zoom-in { background-position: -16px -272px }
.ui-silk-male { background-position: -32px -272px }
.ui-silk-map { background-position: -48px -272px }
.ui-silk-map-add { background-position: -64px -272px }
.ui-silk-map-delete { background-position: -80px -272px }
.ui-silk-map-edit { background-position: -96px -272px }
.ui-silk-map-go { background-position: -112px -272px }
.ui-silk-map-magnify { background-position: -128px -272px }
.ui-silk-medal-bronze-1 { background-position: -144px -272px }
.ui-silk-medal-bronze-2 { background-position: -160px -272px }
.ui-silk-medal-bronze-3 { background-position: -176px -272px }
.ui-silk-medal-bronze-add { background-position: -192px -272px }
.ui-silk-medal-bronze-delete { background-position: -208px -272px }
.ui-silk-medal-gold-1 { background-position: -224px -272px }
.ui-silk-medal-gold-2 { background-position: -240px -272px }
.ui-silk-medal-gold-3 { background-position: -256px -272px }
.ui-silk-medal-gold-add { background-position: -272px -272px }
.ui-silk-medal-gold-delete { background-position: -288px -272px }
.ui-silk-medal-silver-1 { background-position: -304px -272px }
.ui-silk-medal-silver-2 { background-position: -320px -272px }
.ui-silk-medal-silver-3 { background-position: -336px -272px }
.ui-silk-medal-silver-add { background-position: -352px -272px }
.ui-silk-medal-silver-delete { background-position: -368px -272px }
.ui-silk-money { background-position: -384px -272px }
.ui-silk-money-add { background-position: -400px -272px }
.ui-silk-money-delete { background-position: -416px -272px }
.ui-silk-money-dollar { background-position: -432px -272px }
.ui-silk-money-euro { background-position: -448px -272px }
.ui-silk-money-pound { background-position: -464px -272px }
.ui-silk-money-yen { background-position: -480px -272px }
.ui-silk-monitor { background-position: -496px -272px }
.ui-silk-monitor-add { background-position: -0px -288px }
.ui-silk-monitor-delete { background-position: -16px -288px }
.ui-silk-monitor-edit { background-position: -32px -288px }
.ui-silk-monitor-error { background-position: -48px -288px }
.ui-silk-monitor-go { background-position: -64px -288px }
.ui-silk-monitor-lightning { background-position: -80px -288px }
.ui-silk-monitor-link { background-position: -96px -288px }
.ui-silk-mouse { background-position: -112px -288px }
.ui-silk-mouse-add { background-position: -128px -288px }
.ui-silk-mouse-delete { background-position: -144px -288px }
.ui-silk-mouse-error { background-position: -160px -288px }
.ui-silk-music { background-position: -176px -288px }
.ui-silk-new { background-position: -192px -288px }
.ui-silk-newspaper { background-position: -208px -288px }
.ui-silk-newspaper-add { background-position: -224px -288px }
.ui-silk-newspaper-delete { background-position: -240px -288px }
.ui-silk-newspaper-go { background-position: -256px -288px }
.ui-silk-newspaper-link { background-position: -272px -288px }
.ui-silk-note { background-position: -288px -288px }
.ui-silk-note-add { background-position: -304px -288px }
.ui-silk-note-delete { background-position: -320px -288px }
.ui-silk-note-edit { background-position: -336px -288px }
.ui-silk-note-error { background-position: -352px -288px }
.ui-silk-note-go { background-position: -368px -288px }
.ui-silk-overlays { background-position: -384px -288px }
.ui-silk-package { background-position: -400px -288px }
.ui-silk-package-add { background-position: -416px -288px }
.ui-silk-package-delete { background-position: -432px -288px }
.ui-silk-package-go { background-position: -448px -288px }
.ui-silk-package-green { background-position: -464px -288px }
.ui-silk-package-link { background-position: -480px -288px }
.ui-silk-page { background-position: -496px -288px }
.ui-silk-page-add { background-position: -0px -304px }
.ui-silk-page-attach { background-position: -16px -304px }
.ui-silk-page-code { background-position: -32px -304px }
.ui-silk-page-copy { background-position: -48px -304px }
.ui-silk-page-delete { background-position: -64px -304px }
.ui-silk-page-edit { background-position: -80px -304px }
.ui-silk-page-error { background-position: -96px -304px }
.ui-silk-page-excel { background-position: -112px -304px }
.ui-silk-page-find { background-position: -128px -304px }
.ui-silk-page-gear { background-position: -144px -304px }
.ui-silk-page-go { background-position: -160px -304px }
.ui-silk-page-green { background-position: -176px -304px }
.ui-silk-page-key { background-position: -192px -304px }
.ui-silk-page-lightning { background-position: -208px -304px }
.ui-silk-page-link { background-position: -224px -304px }
.ui-silk-page-paintbrush { background-position: -240px -304px }
.ui-silk-page-paste { background-position: -256px -304px }
.ui-silk-page-red { background-position: -272px -304px }
.ui-silk-page-refresh { background-position: -288px -304px }
.ui-silk-page-save { background-position: -304px -304px }
.ui-silk-page-white { background-position: -320px -304px }
.ui-silk-page-white-acrobat { background-position: -336px -304px }
.ui-silk-page-white-actionscript { background-position: -352px -304px }
.ui-silk-page-white-add { background-position: -368px -304px }
.ui-silk-page-white-c { background-position: -384px -304px }
.ui-silk-page-white-camera { background-position: -400px -304px }
.ui-silk-page-white-cd { background-position: -416px -304px }
.ui-silk-page-white-code { background-position: -432px -304px }
.ui-silk-page-white-code-red { background-position: -448px -304px }
.ui-silk-page-white-coldfusion { background-position: -464px -304px }
.ui-silk-page-white-compressed { background-position: -480px -304px }
.ui-silk-page-white-copy { background-position: -496px -304px }
.ui-silk-page-white-cplusplus { background-position: -0px -320px }
.ui-silk-page-white-csharp { background-position: -16px -320px }
.ui-silk-page-white-cup { background-position: -32px -320px }
.ui-silk-page-white-database { background-position: -48px -320px }
.ui-silk-page-white-delete { background-position: -64px -320px }
.ui-silk-page-white-dvd { background-position: -80px -320px }
.ui-silk-page-white-edit { background-position: -96px -320px }
.ui-silk-page-white-error { background-position: -112px -320px }
.ui-silk-page-white-excel { background-position: -128px -320px }
.ui-silk-page-white-find { background-position: -144px -320px }
.ui-silk-page-white-flash { background-position: -160px -320px }
.ui-silk-page-white-freehand { background-position: -176px -320px }
.ui-silk-page-white-gear { background-position: -192px -320px }
.ui-silk-page-white-get { background-position: -208px -320px }
.ui-silk-page-white-go { background-position: -224px -320px }
.ui-silk-page-white-h { background-position: -240px -320px }
.ui-silk-page-white-horizontal { background-position: -256px -320px }
.ui-silk-page-white-key { background-position: -272px -320px }
.ui-silk-page-white-lightning { background-position: -288px -320px }
.ui-silk-page-white-link { background-position: -304px -320px }
.ui-silk-page-white-magnify { background-position: -320px -320px }
.ui-silk-page-white-medal { background-position: -336px -320px }
.ui-silk-page-white-office { background-position: -352px -320px }
.ui-silk-page-white-paint { background-position: -368px -320px }
.ui-silk-page-white-paintbrush { background-position: -384px -320px }
.ui-silk-page-white-paste { background-position: -400px -320px }
.ui-silk-page-white-php { background-position: -416px -320px }
.ui-silk-page-white-picture { background-position: -432px -320px }
.ui-silk-page-white-powerpoint { background-position: -448px -320px }
.ui-silk-page-white-put { background-position: -464px -320px }
.ui-silk-page-white-ruby { background-position: -480px -320px }
.ui-silk-page-white-stack { background-position: -496px -320px }
.ui-silk-page-white-star { background-position: -0px -336px }
.ui-silk-page-white-swoosh { background-position: -16px -336px }
.ui-silk-page-white-text { background-position: -32px -336px }
.ui-silk-page-white-text-width { background-position: -48px -336px }
.ui-silk-page-white-tux { background-position: -64px -336px }
.ui-silk-page-white-vector { background-position: -80px -336px }
.ui-silk-page-white-visualstudio { background-position: -96px -336px }
.ui-silk-page-white-width { background-position: -112px -336px }
.ui-silk-page-white-word { background-position: -128px -336px }
.ui-silk-page-white-world { background-position: -144px -336px }
.ui-silk-page-white-wrench { background-position: -160px -336px }
.ui-silk-page-white-zip { background-position: -176px -336px }
.ui-silk-page-word { background-position: -192px -336px }
.ui-silk-page-world { background-position: -208px -336px }
.ui-silk-paintbrush { background-position: -224px -336px }
.ui-silk-paintcan { background-position: -240px -336px }
.ui-silk-palette { background-position: -256px -336px }
.ui-silk-paste-plain { background-position: -272px -336px }
.ui-silk-paste-word { background-position: -288px -336px }
.ui-silk-pencil { background-position: -304px -336px }
.ui-silk-pencil-add { background-position: -320px -336px }
.ui-silk-pencil-delete { background-position: -336px -336px }
.ui-silk-pencil-go { background-position: -352px -336px }
.ui-silk-phone { background-position: -368px -336px }
.ui-silk-phone-add { background-position: -384px -336px }
.ui-silk-phone-delete { background-position: -400px -336px }
.ui-silk-phone-sound { background-position: -416px -336px }
.ui-silk-photo { background-position: -432px -336px }
.ui-silk-photos { background-position: -448px -336px }
.ui-silk-photo-add { background-position: -464px -336px }
.ui-silk-photo-delete { background-position: -480px -336px }
.ui-silk-photo-link { background-position: -496px -336px }
.ui-silk-picture { background-position: -0px -352px }
.ui-silk-pictures { background-position: -16px -352px }
.ui-silk-picture-add { background-position: -32px -352px }
.ui-silk-picture-delete { background-position: -48px -352px }
.ui-silk-picture-edit { background-position: -64px -352px }
.ui-silk-picture-empty { background-position: -80px -352px }
.ui-silk-picture-error { background-position: -96px -352px }
.ui-silk-picture-go { background-position: -112px -352px }
.ui-silk-picture-key { background-position: -128px -352px }
.ui-silk-picture-link { background-position: -144px -352px }
.ui-silk-picture-save { background-position: -160px -352px }
.ui-silk-pilcrow { background-position: -176px -352px }
.ui-silk-pill { background-position: -192px -352px }
.ui-silk-pill-add { background-position: -208px -352px }
.ui-silk-pill-delete { background-position: -224px -352px }
.ui-silk-pill-go { background-position: -240px -352px }
.ui-silk-plugin { background-position: -256px -352px }
.ui-silk-plugin-add { background-position: -272px -352px }
.ui-silk-plugin-delete { background-position: -288px -352px }
.ui-silk-plugin-disabled { background-position: -304px -352px }
.ui-silk-plugin-edit { background-position: -320px -352px }
.ui-silk-plugin-error { background-position: -336px -352px }
.ui-silk-plugin-go { background-position: -352px -352px }
.ui-silk-plugin-link { background-position: -368px -352px }
.ui-silk-printer { background-position: -384px -352px }
.ui-silk-printer-add { background-position: -400px -352px }
.ui-silk-printer-delete { background-position: -416px -352px }
.ui-silk-printer-empty { background-position: -432px -352px }
.ui-silk-printer-error { background-position: -448px -352px }
.ui-silk-rainbow { background-position: -464px -352px }
.ui-silk-report { background-position: -480px -352px }
.ui-silk-report-add { background-position: -496px -352px }
.ui-silk-report-delete { background-position: -0px -368px }
.ui-silk-report-disk { background-position: -16px -368px }
.ui-silk-report-edit { background-position: -32px -368px }
.ui-silk-report-go { background-position: -48px -368px }
.ui-silk-report-key { background-position: -64px -368px }
.ui-silk-report-link { background-position: -80px -368px }
.ui-silk-report-magnify { background-position: -96px -368px }
.ui-silk-report-picture { background-position: -112px -368px }
.ui-silk-report-user { background-position: -128px -368px }
.ui-silk-report-word { background-position: -144px -368px }
.ui-silk-resultset-first { background-position: -160px -368px }
.ui-silk-resultset-last { background-position: -176px -368px }
.ui-silk-resultset-next { background-position: -192px -368px }
.ui-silk-resultset-previous { background-position: -208px -368px }
.ui-silk-rosette { background-position: -224px -368px }
.ui-silk-rss { background-position: -240px -368px }
.ui-silk-rss-add { background-position: -256px -368px }
.ui-silk-rss-delete { background-position: -272px -368px }
.ui-silk-rss-go { background-position: -288px -368px }
.ui-silk-rss-valid { background-position: -304px -368px }
.ui-silk-ruby { background-position: -320px -368px }
.ui-silk-ruby-add { background-position: -336px -368px }
.ui-silk-ruby-delete { background-position: -352px -368px }
.ui-silk-ruby-gear { background-position: -368px -368px }
.ui-silk-ruby-get { background-position: -384px -368px }
.ui-silk-ruby-go { background-position: -400px -368px }
.ui-silk-ruby-key { background-position: -416px -368px }
.ui-silk-ruby-link { background-position: -432px -368px }
.ui-silk-ruby-put { background-position: -448px -368px }
.ui-silk-script { background-position: -464px -368px }
.ui-silk-script-add { background-position: -480px -368px }
.ui-silk-script-code { background-position: -496px -368px }
.ui-silk-script-code-red { background-position: -0px -384px }
.ui-silk-script-delete { background-position: -16px -384px }
.ui-silk-script-edit { background-position: -32px -384px }
.ui-silk-script-error { background-position: -48px -384px }
.ui-silk-script-gear { background-position: -64px -384px }
.ui-silk-script-go { background-position: -80px -384px }
.ui-silk-script-key { background-position: -96px -384px }
.ui-silk-script-lightning { background-position: -112px -384px }
.ui-silk-script-link { background-position: -128px -384px }
.ui-silk-script-palette { background-position: -144px -384px }
.ui-silk-script-save { background-position: -160px -384px }
.ui-silk-server { background-position: -176px -384px }
.ui-silk-server-add { background-position: -192px -384px }
.ui-silk-server-chart { background-position: -208px -384px }
.ui-silk-server-compressed { background-position: -224px -384px }
.ui-silk-server-connect { background-position: -240px -384px }
.ui-silk-server-database { background-position: -256px -384px }
.ui-silk-server-delete { background-position: -272px -384px }
.ui-silk-server-edit { background-position: -288px -384px }
.ui-silk-server-error { background-position: -304px -384px }
.ui-silk-server-go { background-position: -320px -384px }
.ui-silk-server-key { background-position: -336px -384px }
.ui-silk-server-lightning { background-position: -352px -384px }
.ui-silk-server-link { background-position: -368px -384px }
.ui-silk-server-uncompressed { background-position: -384px -384px }
.ui-silk-shading { background-position: -400px -384px }
.ui-silk-shape-align-bottom { background-position: -416px -384px }
.ui-silk-shape-align-center { background-position: -432px -384px }
.ui-silk-shape-align-left { background-position: -448px -384px }
.ui-silk-shape-align-middle { background-position: -464px -384px }
.ui-silk-shape-align-right { background-position: -480px -384px }
.ui-silk-shape-align-top { background-position: -496px -384px }
.ui-silk-shape-flip-horizontal { background-position: -0px -400px }
.ui-silk-shape-flip-vertical { background-position: -16px -400px }
.ui-silk-shape-group { background-position: -32px -400px }
.ui-silk-shape-handles { background-position: -48px -400px }
.ui-silk-shape-move-back { background-position: -64px -400px }
.ui-silk-shape-move-backwards { background-position: -80px -400px }
.ui-silk-shape-move-forwards { background-position: -96px -400px }
.ui-silk-shape-move-front { background-position: -112px -400px }
.ui-silk-shape-rotate-anticlockwise { background-position: -128px -400px }
.ui-silk-shape-rotate-clockwise { background-position: -144px -400px }
.ui-silk-shape-square { background-position: -160px -400px }
.ui-silk-shape-square-add { background-position: -176px -400px }
.ui-silk-shape-square-delete { background-position: -192px -400px }
.ui-silk-shape-square-edit { background-position: -208px -400px }
.ui-silk-shape-square-error { background-position: -224px -400px }
.ui-silk-shape-square-go { background-position: -240px -400px }
.ui-silk-shape-square-key { background-position: -256px -400px }
.ui-silk-shape-square-link { background-position: -272px -400px }
.ui-silk-shape-ungroup { background-position: -288px -400px }
.ui-silk-shield { background-position: -304px -400px }
.ui-silk-shield-add { background-position: -320px -400px }
.ui-silk-shield-delete { background-position: -336px -400px }
.ui-silk-shield-go { background-position: -352px -400px }
.ui-silk-sitemap { background-position: -368px -400px }
.ui-silk-sitemap-color { background-position: -384px -400px }
.ui-silk-sound { background-position: -400px -400px }
.ui-silk-sound-add { background-position: -416px -400px }
.ui-silk-sound-delete { background-position: -432px -400px }
.ui-silk-sound-low { background-position: -448px -400px }
.ui-silk-sound-mute { background-position: -464px -400px }
.ui-silk-sound-none { background-position: -480px -400px }
.ui-silk-spellcheck { background-position: -496px -400px }
.ui-silk-sport-8ball { background-position: -0px -416px }
.ui-silk-sport-basketball { background-position: -16px -416px }
.ui-silk-sport-football { background-position: -32px -416px }
.ui-silk-sport-golf { background-position: -48px -416px }
.ui-silk-sport-raquet { background-position: -64px -416px }
.ui-silk-sport-shuttlecock { background-position: -80px -416px }
.ui-silk-sport-soccer { background-position: -96px -416px }
.ui-silk-sport-tennis { background-position: -112px -416px }
.ui-silk-star { background-position: -128px -416px }
.ui-silk-status-away { background-position: -144px -416px }
.ui-silk-status-busy { background-position: -160px -416px }
.ui-silk-status-offline { background-position: -176px -416px }
.ui-silk-status-online { background-position: -192px -416px }
.ui-silk-stop { background-position: -208px -416px }
.ui-silk-style { background-position: -224px -416px }
.ui-silk-style-add { background-position: -240px -416px }
.ui-silk-style-delete { background-position: -256px -416px }
.ui-silk-style-edit { background-position: -272px -416px }
.ui-silk-style-go { background-position: -288px -416px }
.ui-silk-sum { background-position: -304px -416px }
.ui-silk-tab { background-position: -320px -416px }
.ui-silk-table { background-position: -336px -416px }
.ui-silk-table-add { background-position: -352px -416px }
.ui-silk-table-delete { background-position: -368px -416px }
.ui-silk-table-edit { background-position: -384px -416px }
.ui-silk-table-error { background-position: -400px -416px }
.ui-silk-table-gear { background-position: -416px -416px }
.ui-silk-table-go { background-position: -432px -416px }
.ui-silk-table-key { background-position: -448px -416px }
.ui-silk-table-lightning { background-position: -464px -416px }
.ui-silk-table-link { background-position: -480px -416px }
.ui-silk-table-multiple { background-position: -496px -416px }
.ui-silk-table-refresh { background-position: -0px -432px }
.ui-silk-table-relationship { background-position: -16px -432px }
.ui-silk-table-row-delete { background-position: -32px -432px }
.ui-silk-table-row-insert { background-position: -48px -432px }
.ui-silk-table-save { background-position: -64px -432px }
.ui-silk-table-sort { background-position: -80px -432px }
.ui-silk-tab-add { background-position: -96px -432px }
.ui-silk-tab-delete { background-position: -112px -432px }
.ui-silk-tab-edit { background-position: -128px -432px }
.ui-silk-tab-go { background-position: -144px -432px }
.ui-silk-tag { background-position: -160px -432px }
.ui-silk-tag-blue { background-position: -176px -432px }
.ui-silk-tag-blue-add { background-position: -192px -432px }
.ui-silk-tag-blue-delete { background-position: -208px -432px }
.ui-silk-tag-blue-edit { background-position: -224px -432px }
.ui-silk-tag-green { background-position: -240px -432px }
.ui-silk-tag-orange { background-position: -256px -432px }
.ui-silk-tag-pink { background-position: -272px -432px }
.ui-silk-tag-purple { background-position: -288px -432px }
.ui-silk-tag-red { background-position: -304px -432px }
.ui-silk-tag-yellow { background-position: -320px -432px }
.ui-silk-telephone { background-position: -336px -432px }
.ui-silk-telephone-add { background-position: -352px -432px }
.ui-silk-telephone-delete { background-position: -368px -432px }
.ui-silk-telephone-edit { background-position: -384px -432px }
.ui-silk-telephone-error { background-position: -400px -432px }
.ui-silk-telephone-go { background-position: -416px -432px }
.ui-silk-telephone-key { background-position: -432px -432px }
.ui-silk-telephone-link { background-position: -448px -432px }
.ui-silk-television { background-position: -464px -432px }
.ui-silk-television-add { background-position: -480px -432px }
.ui-silk-television-delete { background-position: -496px -432px }
.ui-silk-textfield { background-position: -0px -448px }
.ui-silk-textfield-add { background-position: -16px -448px }
.ui-silk-textfield-delete { background-position: -32px -448px }
.ui-silk-textfield-key { background-position: -48px -448px }
.ui-silk-textfield-rename { background-position: -64px -448px }
.ui-silk-text-align-center { background-position: -80px -448px }
.ui-silk-text-align-justify { background-position: -96px -448px }
.ui-silk-text-align-left { background-position: -112px -448px }
.ui-silk-text-align-right { background-position: -128px -448px }
.ui-silk-text-allcaps { background-position: -144px -448px }
.ui-silk-text-bold { background-position: -160px -448px }
.ui-silk-text-columns { background-position: -176px -448px }
.ui-silk-text-dropcaps { background-position: -192px -448px }
.ui-silk-text-heading-1 { background-position: -208px -448px }
.ui-silk-text-heading-2 { background-position: -224px -448px }
.ui-silk-text-heading-3 { background-position: -240px -448px }
.ui-silk-text-heading-4 { background-position: -256px -448px }
.ui-silk-text-heading-5 { background-position: -272px -448px }
.ui-silk-text-heading-6 { background-position: -288px -448px }
.ui-silk-text-horizontalrule { background-position: -304px -448px }
.ui-silk-text-indent { background-position: -320px -448px }
.ui-silk-text-indent-remove { background-position: -336px -448px }
.ui-silk-text-italic { background-position: -352px -448px }
.ui-silk-text-kerning { background-position: -368px -448px }
.ui-silk-text-letterspacing { background-position: -384px -448px }
.ui-silk-text-letter-omega { background-position: -400px -448px }
.ui-silk-text-linespacing { background-position: -416px -448px }
.ui-silk-text-list-bullets { background-position: -432px -448px }
.ui-silk-text-list-numbers { background-position: -448px -448px }
.ui-silk-text-lowercase { background-position: -464px -448px }
.ui-silk-text-padding-bottom { background-position: -480px -448px }
.ui-silk-text-padding-left { background-position: -496px -448px }
.ui-silk-text-padding-right { background-position: -0px -464px }
.ui-silk-text-padding-top { background-position: -16px -464px }
.ui-silk-text-replace { background-position: -32px -464px }
.ui-silk-text-signature { background-position: -48px -464px }
.ui-silk-text-smallcaps { background-position: -64px -464px }
.ui-silk-text-strikethrough { background-position: -80px -464px }
.ui-silk-text-subscript { background-position: -96px -464px }
.ui-silk-text-superscript { background-position: -112px -464px }
.ui-silk-text-underline { background-position: -128px -464px }
.ui-silk-text-uppercase { background-position: -144px -464px }
.ui-silk-thumb-down { background-position: -160px -464px }
.ui-silk-thumb-up { background-position: -176px -464px }
.ui-silk-tick { background-position: -192px -464px }
.ui-silk-time { background-position: -208px -464px }
.ui-silk-timeline-marker { background-position: -224px -464px }
.ui-silk-time-add { background-position: -240px -464px }
.ui-silk-time-delete { background-position: -256px -464px }
.ui-silk-time-go { background-position: -272px -464px }
.ui-silk-transmit { background-position: -288px -464px }
.ui-silk-transmit-add { background-position: -304px -464px }
.ui-silk-transmit-blue { background-position: -320px -464px }
.ui-silk-transmit-delete { background-position: -336px -464px }
.ui-silk-transmit-edit { background-position: -352px -464px }
.ui-silk-transmit-error { background-position: -368px -464px }
.ui-silk-transmit-go { background-position: -384px -464px }
.ui-silk-tux { background-position: -400px -464px }
.ui-silk-user { background-position: -416px -464px }
.ui-silk-user-add { background-position: -432px -464px }
.ui-silk-user-comment { background-position: -448px -464px }
.ui-silk-user-delete { background-position: -464px -464px }
.ui-silk-user-edit { background-position: -480px -464px }
.ui-silk-user-female { background-position: -496px -464px }
.ui-silk-user-go { background-position: -0px -480px }
.ui-silk-user-gray { background-position: -16px -480px }
.ui-silk-user-green { background-position: -32px -480px }
.ui-silk-user-orange { background-position: -48px -480px }
.ui-silk-user-red { background-position: -64px -480px }
.ui-silk-user-suit { background-position: -80px -480px }
.ui-silk-vcard { background-position: -96px -480px }
.ui-silk-vcard-add { background-position: -112px -480px }
.ui-silk-vcard-delete { background-position: -128px -480px }
.ui-silk-vcard-edit { background-position: -144px -480px }
.ui-silk-vector { background-position: -160px -480px }
.ui-silk-vector-add { background-position: -176px -480px }
.ui-silk-vector-delete { background-position: -192px -480px }
.ui-silk-wand { background-position: -208px -480px }
.ui-silk-weather-clouds { background-position: -224px -480px }
.ui-silk-weather-cloudy { background-position: -240px -480px }
.ui-silk-weather-lightning { background-position: -256px -480px }
.ui-silk-weather-rain { background-position: -272px -480px }
.ui-silk-weather-snow { background-position: -288px -480px }
.ui-silk-weather-sun { background-position: -304px -480px }
.ui-silk-webcam { background-position: -320px -480px }
.ui-silk-webcam-add { background-position: -336px -480px }
.ui-silk-webcam-delete { background-position: -352px -480px }
.ui-silk-webcam-error { background-position: -368px -480px }
.ui-silk-world { background-position: -384px -480px }
.ui-silk-world-add { background-position: -400px -480px }
.ui-silk-world-delete { background-position: -416px -480px }
.ui-silk-world-edit { background-position: -432px -480px }
.ui-silk-world-go { background-position: -448px -480px }
.ui-silk-world-link { background-position: -464px -480px }
.ui-silk-wrench { background-position: -480px -480px }
.ui-silk-wrench-orange { background-position: -496px -480px }
.ui-silk-xhtml { background-position: -0px -496px }
.ui-silk-xhtml-add { background-position: -16px -496px }
.ui-silk-xhtml-delete { background-position: -32px -496px }
.ui-silk-xhtml-go { background-position: -48px -496px }
.ui-silk-xhtml-valid { background-position: -64px -496px }
.ui-silk-zoom { background-position: -80px -496px }
.ui-silk-zoom-in { background-position: -96px -496px }
.ui-silk-zoom-out { background-position: -112px -496px }
