<h2>NDR Couch Score Report</h2>

<p>Event: <b><?=$this->report['Event']['title'] ?> (<?=date('F j, Y', strtotime($this->report['Event']['event_date'])) ?>)</b></p>

<p>You were listed as the couch for one or more debriefings from this event. Your overall score for the night was <b><?=$this->average_score ?></b>. Your scores and notes are included below.</p>

<? foreach($this->debriefings as $i => $debriefing): ?>
    <hr />
    <h3>Debriefing #<?=($i + 1) ?></h3>
    
    <dl>
        <dt>Couch Score:</dt>
        <dd><?=$debriefing['CouchScore'] ?></dd>
        
        <dt>Suggestions for Couch:</dt>
        <dd><?=$debriefing['CouchSuggestions'] ?></dd>
    </dl>
    <br />
<? endforeach; ?>