<?
$this->headTitle('Membership Report');
?>

<h2>Select a Team</h2>

<div class="buttons">
<?=$this->button(array(
    'type'		=> 'link',
    'icon'		=> 'page_white_excel',
    'href'		=> $this->routeFromHere(array('action' => 'export')),
    'text'		=> 'Download All to Excel',
)) ?>
</div>

<ul>
<? foreach($this->Team as $team_id => $team_name): ?>
    <li><a href="<?=$this->routeFromHere(array('team' => $team_id)) ?>"><?=$team_name ?></a></li>
<? endforeach; ?>
</ul>