<p>By signing this form, I verify that:</p>
<ul>
	<li>I have not consumed any alcoholic beverages or illegal drugs today.</li>
    <li>I am 18 or older and have a valid driver's license.</li>
    <li>I am currently covered under a valid automobile liability insurance policy.</li>
</ul>

<table class="datatable zebra" width="100%">
	<colgroup>
    	<col width="30%" />
        <col width="40%" />
        <col width="15%" />
        <col width="15%" />
    </colgroup>
    <tr>
    	<th>Member Name</th>
        <th>Signature</th>
        <th>Cell Phone</th>
        <th>Local Phone</th>
    </tr>
    <? foreach($this->members as $member): ?>
    <tr class="input">
    	<td><big><?=$member['user']['firstname'] ?> <?=$member['user']['lastname'] ?></big></td>
        <td>&nbsp;<br />&nbsp;</td>
        <td><?=$member['user']['cphone'] ?></td>
        <td><?=$member['user']['lphone'] ?></td>
    </tr>
    <? endforeach; ?>
</table>