<p>By signing this document, the Driver, ____________________, agrees to drive a group CARPOOL members around BCS.  The Driver assumes the responsibility for himself/herself and of all members in the car. By signing this agreement, the Driver acknowledges that CARPOOL purchases medical insurance to cover all conference attendees inside the transport vehicle in the occurrence of an accident or in any other appropriate incident.  However, the Driver also acknowledges that CARPOOL does not purchase any insurance covering damage to the Driver’s car or to third parties (persons or property) involved in the accident. The responsibility is left with the Driver and their personal insurance to cover any costs associated with vehicular and/or third party damage incurred.</p>

<p>All Passengers, as listed below, acknowledge that by signing this agreement, CARPOOL does purchase insurance to cover members in the Driver’s vehicle to the extent provided by these policies.   In the event that an accident does occur, the Passenger’s personal medical insurance will only be used as secondary coverage if CARPOOL’s policy does not completely cover costs from injuries resulting directly because of the accident. All Passengers also acknowledge that there are external risks associated with riding in the Driver’s vehicle which are out of CARPOOL’s control and that each Passenger has voluntarily chosen to assume these risks by riding in the Driver’s vehicle.</p>

<p>This is an agreement between CARPOOL, the Driver of the car transporting the members, and the Passengers in the transport vehicle.</p>

<table width="100%" border="0" cellspacing="0" cellpadding="4">
    <colgroup>
        <col width="25%" />
        <col width="25%" />
        <col width="25%" />
        <col width="25%" />
    </colgroup>
    <tbody>
        <tr>
            <td>
                <div class="line">&nbsp;</div>
                Director in Charge (Print)
            </td>
            <td>
                <div class="line">&nbsp;</div>
                Signature
            </td>
            <td>
                <div class="line">&nbsp;</div>
                Date
            </td>
        </tr>
        <tr><td colspan="4">&nbsp;</td></tr>
        <tr><td colspan="4"><big>Driver</big></td></tr>
        <tr>
            <td>
                <div class="line">&nbsp;</div>
                DRIVER (Print)
            </td>
            <td>
                <div class="line">&nbsp;</div>
                Signature
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr><td colspan="4">&nbsp;</td></tr>
        <tr><td colspan="4"><big>Passenger</big></td></tr>
    <? for($j = 1; $j <= 5; $j++): ?>
        <tr>
            <td>
                <div class="line">&nbsp;</div>
                Name (Print)
            </td>
            <td>
                <div class="line">&nbsp;</div>
                Signature
            </td>
            <td>
                <div class="line">&nbsp;</div>
                Name (Print)
            </td>
            <td>
                <div class="line">&nbsp;</div>
                Signature
            </td>
        </tr>
    <? endfor; ?>
    </tbody>
</table>