<?php
$this->headTitle('Food Needs for Members Signed Up at Event');
?>

<dl>
<? foreach($this->food_needs as $member): ?>
	<dt><?=$member['user']['firstname'] ?> <?=$member['user']['lastname'] ?>:</dt>
	<dd><?=$member['food_needs'] ?></dd>
<? endforeach; ?>
</dl>