<?
$this->headTitle('Files');
?>

<h2>View Files</h2>

<dl>
<? foreach($this->files as $file): ?>
	<dt><a href="<?=$file['url'] ?>"><?=$file['title'] ?></a></dt>
	<dd>
		<?=nl2br($file['description']) ?>
		<? if (\DF\Acl::isAllowed('access exec features')): ?>
		<br />
		<div class="smallbuttons">
			<?=$this->button(array(
				'type'		=> 'small',
				'icon'		=> 'pencil',
				'text'		=> 'Edit File',
				'href'		=> $this->routeFromHere(array('action' => 'edit', 'id' => $file['id'])),
			)) ?>
			<?=$this->button(array(
				'type'		=> 'small',
				'icon'		=> 'delete',
				'text'		=> 'Delete File',
				'class'		=> 'confirm-delete',
				'href'		=> $this->routeFromHere(array('action' => 'delete', 'id' => $file['id'])),
			)) ?>
		</div>
		<? endif; ?>
	</dd>
<? endforeach; ?>
</dl>

<? if (\DF\Acl::isAllowed('access exec features')): ?>
<br />
<h2>Upload New File</h2>

<form action="<?=$this->routeFromHere(array('action' => 'add')) ?>" method="post" enctype="multipart/form-data">
<dl>
	<dt>Choose file:</dt>
	<dd><input type="file" name="newfile" /></dd>
</dl>

<div class="buttons">
	<?=$this->button(array(
		'type'		=> 'submit',
		'class'		=> 'positive',
		'icon'		=> 'folder_go',
		'text'		=> 'Upload File',
	)) ?>
</div>
</form>
<? endif; ?>