<?php echo $this->doctype(); ?>
<html xmlns="http://www.w3.org/1999/xhtml" class="full_layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<?php
$title = current($this->headTitle()->getIterator());
$this->headTitle($this->config->application->name);

if (DF_APPLICATION_ENV != "production")
    $this->headTitle()->prepend('('.ucfirst(DF_APPLICATION_ENV).')');

echo $this->headTitle()->setSeparator(" | ")->toString();

$this->headLink()
    ->appendStylesheet(\DF\Url::content('global.css'), 'all')
	->appendStylesheet(\DF\Url::content('carpool.css'), 'all')
    ->appendStylesheet(\DF\Url::content('df-ui.css'), 'all')
    ->appendStylesheet(\DF\Url::content('print.css'), 'print');
    
$this->headScript()
    ->prependFile(\DF\Url::cdn('jqueryui', '1'))
    ->prependFile(\DF\Url::cdn('jquery', '1'))
    ->appendFile(\DF\Url::content('jquery/plugins/jquery.df.confirmaction.js'))
    ->appendFile(\DF\Url::content('layout.js'));

echo $this->headMeta();
echo $this->headLink();
echo $this->headScript();

if ($this->config->application->analytics_code)
	echo $this->analytics($this->config->application->analytics_code);
?>
<script>
var DF_ContentPath = '<?php echo \DF\Url::content(); ?>';
</script>
</head>
<body>
<div id="page_wrapper"><div id="page">

    <div id="print_header">
        <h1><?=$this->config->application->name ?></h1>
    </div>

    <div id="header">
        <div id="header-menu" class="navigation autodivide">
        	<?=$this->menu()->render(array('levels' => 2)); ?>
        </div>
        
        <div id="header-login-status">
            <span>
        <? if (\DF\Auth::getInstance()->isLoggedIn()): ?>
            <? $user = \DF\Auth::getInstance()->getLoggedInUser(); ?>
            Logged In (<?=$user->username ?>) - <a href="<?=$this->route(array('module' => 'default', 'controller' => 'account', 'action' => 'logout')) ?>">Log Out</a>
        <? else: ?>
            Not Logged In - <a href="<?=$this->route(array('module' => 'default', 'controller' => 'account', 'action' => 'login')) ?>">Log In</a>
        <? endif; ?>
            </span>
        </div>

        <div id="logo-title">
            <div id="logo-title-site"><a href="<?=$this->route(array('module' => 'default', 'controller' => 'index', 'action' => 'index')) ?>" title="Home"><img src="<?=$this->baseUrl() ?>/static/spacer.gif" alt="Home" /></a></div>
            <div id="logo-title-tamu"><a href="http://www.tamu.edu/" target="_blank"><img src="<?=$this->baseUrl() ?>/static/spacer.gif" alt="Texas A and M University" /></a></div>
        </div>
    </div>
    
    <div id="container">
        <?
        if (\DF\Flash::hasMessages()):
            $messages = \DF\Flash::getMessages();
            foreach($messages as $message):
        ?>
            <div class="in-header messages <?=$message['color'] ?>"><?=$message['message'] ?></div>
        <?
            endforeach;
        endif;
        ?>

        <div id="content_wrapper">
            <div id="content" class="container_12">
            <?
            $breadcrumb = $this->breadcrumb()->render();
            if ($breadcrumb):
            ?>
                <div id="breadcrumb">
                    <a href="<?=\DF\Url::baseUrl() ?>/"><?=$this->config->application->name ?></a> &raquo; <?=$breadcrumb ?>
                </div>
            <? endif; ?>
                <h1 class="title"><?=$title ?></h1>

            <? if ($this->layout()->manual): ?>
                <?php echo $this->layout()->content; ?>
            <? else: ?>
                <? if ($this->layout()->tabs): ?>
                <div id="content_tabs">
                    <?=$this->layout()->tabs ?>
                </div>
                <? endif; ?>
                <div class="grid_12">
                    <div class="grid_inner"><div class="content_inner">
                        <?php echo $this->layout()->content; ?>
                    </div></div>
                </div>
            <? endif; ?>
            </div>
        </div>

        <div class="clear"></div>
        
        <div id="copyright">
        	Operated by <a href="http://carpool.tamu.edu">CARPOOL</a> at <a href="http://www.tamu.edu/" target="_blank">Texas A&amp;M University</a><br />
            Hosted by <a href="http://studentactivities.tamu.edu/IT" target="_blank">Student Activities</a> &bull; <a href="http://studentactivities.tamu.edu/site_policies">Site Policies</a><br />
            Live Data by <a href="http://www.pubnub.com/">PubNub</a> &bull; SMS Messenging by <a href="http://www.twilio.com/">Twilio</a>
        </div>
    </div>
</div></div>
<div id="footer">&nbsp;</div>
</body>
</html>