<?
$this->headTitle('Profile Picture');
?>
<h2>Picture Rules</h2>
    
<p>Before uploading your photo, make sure the image meets the following requirements:</p>

<ul>
    <li><b>Absolutely NO pictures from parties with alcohol or pictures containing alcohol.</b> Even if no alcohol or cups are in the picture.</li>
    <li>Photo must be a current photo of you (no baby pics).</li>
    <li>Photo must NOT be an animation, hand drawing, cartoon, or "Simpsonized" pic.</li>
    <li>Photos can be any width or height. They will automatically be scaled to the proper size.</li>
    <li>Photos must not be larger than <?=$this->max_file_size ?>.</li>
    <li>Photo must be a <b>.jpg</b> file.</li>
</ul>

<p>If you upload a photo that does not meet these simple rules, you will get to discuss it with one of the chairs.</p>

<h2>Upload Picture</h2>

<form action="<?=\DF\Url::current() ?>" enctype="multipart/form-data" class="form-stacked df-form" method="post">
<div class="clearfix">
    <label for="picture">Choose file:</label>
    <input type="file" name="picture" />
</div>

<?=$this->button(array(
	'type'		=> 'submit',
	'icon'		=> 'folder_go',
	'text'		=> 'Upload Picture',
)) ?>
</form>