<?
$this->headTitle('Nightly Director Reports');
?>

<? if ($this->events_without_reports): ?>
<form action="<?=$this->routeFromHere(array('action' => 'add')) ?>" method="post">
    <h2>Create a New Report</h2>
    
    <p>To create a new NDR, choose the event that it is associated with from the list below.</p>
    
    <dl>
        <dt>Associated Event:</dt>
        <dd><?=$this->formSelect('event_id', NULL, NULL, $this->events_without_reports) ?></dd>
    </dl>
    
    <div class="buttons">
        <?=$this->button(array(
            'type'		=> 'submit',
            'class'		=> 'positive',
            'icon'		=> 'add',
            'text'		=> 'Create New Report',
        )) ?>
    </div>
</form>
<? endif; ?>

<h2>Existing Reports</h2>

<?=$this->paginate($this->pager) ?>

<table class="datatable zebra" width="100%">
	<colgroup>
        <col width="25%" />
        <col width="15%" />
        <col width="10%" />
        <col width="50%" />
    </colgroup>
    <tbody>
    <? foreach($this->pager as $report): ?>
        <tr class="input">
            <td align="left">
                <?=$this->button(array(
                    'type' => 'small',
                    'icon' => 'pencil',
                    'text' => 'View/Edit',
                    'href' => $this->routeFromHere(array('action' => 'edit', 'id' => $report['id'])),
                )) ?>
            <? if ($report['is_archived'] == 1): ?>
                <?=$this->button(array(
                    'type' => 'small',
                    'class' => 'success',
                    'icon' => 'add',
                    'text' => 'Unarchive',
                    'href' => $this->routeFromHere(array('action' => 'toggle', 'id' => $report['id'])),
                )) ?>
            <? else: ?>
                <?=$this->button(array(
                    'type' => 'small',
                    'class' => 'danger',
                    'icon' => 'delete',
                    'text' => 'Archive',
                    'href' => $this->routeFromHere(array('action' => 'toggle', 'id' => $report['id'])),
                )) ?>
            <? endif; ?>
            </td>
            <td align="center">
                <small><?=$report['ndr_date']->format('l') ?></small><br />
                <?=$report['ndr_date']->format('m/d/Y') ?>
            </td>
            <td align="center">
                <? if ($report['is_archived'] == 1): ?>
                    Archived
                <? else: ?>
                    Live
                <? endif; ?>
            </td>
            <td align="left"><?=$report['event']['title'] ?></td>
        </tr>
    <? endforeach; ?>
    </tbody>
</table>

<?=$this->paginate($this->pager) ?>