<?
$this->headTitle('Currently Riding')->headTitle('Phone Room');
$this->layout()->tabs = $this->renderHere('tabs', TRUE);
?>

<table class="datatable sortable zebra" width="100%" id="records">
    <thead>
        <tr>
            <th class="{sorter: false}">Actions</th>
            <th>Car</th>
            <th>Name</th>
            <th>Riders</th>
            <th>Pickup</th>
            <th>Dropoff</th>
            <th>Cell</th>
            <th>Clothes</th>
            <th>Notes</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script id="row_template" type="text/x-jquery-tmpl">
    <tr id="row{{=num}}">
        <td nowrap="nowrap">
            <?=$this->button(array(
                'type'      => 'small',
                'href'      => $this->route(array('module' => 'phoneroom', 'controller' => 'riding', 'action' => 'done', 'origin' => 'ajax')).'/num/{{=num}}',
                'text'      => 'Done',
            )) ?>
            <?=$this->button(array(
                'type'      => 'small',
                'href'      => $this->route(array('module' => 'phoneroom', 'controller' => 'edit', 'action' => 'index', 'origin' => 'ajax')).'/num/{{=num}}',
                'text'      => 'Edit',
            )) ?>
            <?=$this->button(array(
                'type'      => 'small',
                'href'      => $this->route(array('module' => 'phoneroom', 'controller' => 'riding', 'action' => 'undo', 'origin' => 'ajax')).'/num/{{=num}}',
                'class'     => 'btn-warning',
                'text'      => 'Undo',
            )) ?>
            <?=$this->button(array(
                'type'      => 'small',
                'href'      => $this->route(array('module' => 'phoneroom', 'controller' => 'cancel', 'action' => 'index', 'origin' => 'ajax')).'/num/{{=num}}',
                'class'     => 'btn-danger confirm-action',
                'text'      => 'Cancel',
            )) ?>
        </td>
        <td align="center"><big>{{=car }}</big></td>
        <td>{{=name }}</td>
        <td>{{=riders }}</td>
        <td><a href="{{=pickup_map }}" class="fancybox fancybox.iframe">{{=pickup }}</a></td>
        <td><a href="{{=dropoff_map }}" class="fancybox fancybox.iframe">{{=dropoff }}</a></td>
        <td nowrap="nowrap">{{=cell_display }}</td>
        <td>{{=clothes }}</td>
        <td>{{=notes }}</td>
        <td><span class="live_time {{=assigned_time_class }}">{{=assigned_time }}</span></td>
    </tr>
</script>

<script type="text/javascript">
var rides = <?=json_encode($this->rides) ?>;
var page_codes = ['riding'];
</script>
<?=$this->renderHere('liveload', TRUE) ?>